@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900%display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Do Hyeon", sans-serif;
  cursor: none;
}

body {
  color: #ededed;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header img {
  width: 65px;
  height: 65px;
  margin-top: 5px;
  margin-right: 0;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo:hover {
  color: #000;
}
.navbar {
  margin-left: 500px;
}
.navbar a {
  font-size: 18px;
  color: #ededed;
  padding: 11px;
  text-decoration: none;
  font-weight: 500;
  justify-content: space-between;
  margin-left: 18px;
  transition: 0.25s;
}
.navbar a:hover,
.navbar a.active {
  color: #000;
}

.home {
  height: 100vh;
  background: url(alan.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  color: #cfebff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #cfebff;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  color: #cfebff;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00afb0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}
/*
.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}*/
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.35s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  top: 382px;
  right: 28px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.home-sci a {
  margin-bottom: 1rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 29%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.2s;
}

.home-sci a:hover::before {
  width: 100%;
}

.circle {
  position: absolute;
  top: 555px;
  left: 110px;
  height: 14px;
  width: 14px;
  border-radius: 24px;
  background-color: #00acf0;
}
.inner-cursor {
  position: absolute;
  /*bottom: 379px;*/
  left: 110px;
  top: 555px;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  background-color: #00abf0;
  mix-blend-mode: normal;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 110px;
  top: 555px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: transparent;
  mix-blend-mode: normal;
  border-radius: 50%;
  /*transition: 0.1s;*/
}

a:hover {
  color: #1e84b3;
}
.status {
  color: #cfebff;
  position: absolute;
  bottom: 90px;
  right: 90px;
  font-family: "Do Hyeon", sans-serif;
  font-family: "Press Start 2P", cursive;
}
